
@import url(pygment_trac.css);


/*****Header********/
#header_wrap .inner {
  padding: 50px 0px 10px 10px;
}

header {
  color: #ffffff;
}

header a {
  color: #ffffff;
}

#viewOnGithub {
  display: block;
  background-color: #2e82e1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 0px;
  right: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
  font-weight: 700;
}


/*****Main**********/
#main_content_wrap {
  background: #ffffff;
  width: 100%;
  position: relative;
  left: 0;
  padding-top: 30px;
  margin-left: 0px;
  overflow: hidden;
}

ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  text-shadow: none;
  color: #000000;
}

.examples {
  width: 200px;
  height: auto;
  background-color: #f2f2f2;
  overflow: auto;
  padding: 20px;
  border: solid;
  border-color: #ffffff;
  border-width: 25px;
  border-left-width: 0px;
  float: left;
}


/*****Footer**********/

footer {
  color: #ffffff;
}

footer a {
  color: #F2F2F2;
}

#footer_wrap {
/*  background: #212121;*/
  border: none;
  padding: none;
}



/*****General**********/
body {
  background: #212121;
  padding: none;
}

.outer {
  width: 100%;
  border-width: 0px;
  padding: none;
  margin-left: 0px;
}

.inner {
  max-width: 800px;
  margin: 0 auto;
}

a:hover, a:focus {text-decoration: underline;}


