
@import url(pygment_trac.css);


/*****Header********/
#header_wrap .inner {
  padding: 50px 0px 10px 10px;
}

#header_wrap {
  background-image: url("../images/Mi-CoGithubImage.jpg");
  background-size: 1500px;
  height: 420px;
}

header {
  color: #174f7e;
}

header a {
  color: #174f7e;
}

#viewOnGithub {
  display: block;
  background-color: #76757a;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
  position: absolute;
  top: 0px;
  right: 260px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  height: 40px;
}

.social_icon_li {
  width: 40px;
  float: left;
}

.social_icon {
  opacity: 0.4;
}

#social {
  background-color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7px;
  padding-bottom: 4px;
  position: absolute;
  top: -2px;
  right: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  border-style: none;
  border-width: 2px;
  border-color: #76757a;
  height: 40px;
}




/*****Main**********/
#main_content_wrap {
  background: #76757a;
  width: 100%;
  position: relative;
  left: 0;
  padding-top: 30px;
  margin-left: 0px;
  overflow: hidden;
  padding-bottom: 30px;
  color: #ffffff;
  font-size: 24px;
  line-height: 150%;
  font-family: Verdana, Geneva, sans-serif;
}

.examples {
  width: 200px;
  height: 250px;
  background-color: #e2e2e2;
  overflow: auto;
  padding: 20px;
  padding-top: 0px;
  border: solid;
  border-color: #ffffff;
  border-width: 10px;
  border-color: #76757a;
  float: left;
  border-radius: 20px;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}

.examples a {
  color: #000000;
}

#search_input {
  width: 550px;
  height: 50px;
  font-size: 25px;
  padding-left: 20px;
  border-radius: 10px;
}

.btn {
  width: 200px;
  height: 55px;
  font-size: 25px;
  padding: 0px;
  margin: 0px;

}

#search_group {
  height: 50px;
  padding-bottom: 30px;
}


/*****More Info********/

#more_info_wrap {
  height: 270px;
  font-size: 20px;
  line-height: 10px;
}

#more_info {
  padding-top: 20px;
}

.info {
  width: 220px;
  float: left;
  padding-left: 40px;
}

#phone {
  padding-top: 10px;
}


/*****Footer**********/

footer {
  color: #ffffff;
  font-size: 20px;
}

footer a {
  color: #ffffff;
}

#footer_wrap {
  background: #212121;
  height: 100px;
  border: none;
  padding: none;
}



/*****General**********/
body {
  background: #ffffff;
  padding: none;
  margin: 0px;
}

.outer {
  width: 100%;
  border-width: 0px;
  padding: none;
  margin-left: 0px;
  margin: 0px;
}

.inner {
  max-width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-shadow: none;
  color: #000000;
}

a:hover, a:focus {text-decoration: underline;}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 16px;
  font-style: italic;
}

h6 {
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 15px;
}


